In [1]:
import pandas as pd
!pip install openpyxl
df = pd.read_excel('elections.xlsx')

/opt/conda/lib/python3.10/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

Collecting openpyxl
  Using cached openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Using cached et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Using cached openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Using cached et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [2]:
df.head()

  NUTS code                NUTS name  Election year      votes
0     AT111         Mittelburgenland           2019  14.475959
1     AT112           Nordburgenland           2019  16.588823
2     AT113            Südburgenland           2019  19.706807
3     AT121  Mostviertel-Eisenwurzen           2019  16.256302
4     AT122     Niederösterreich-Süd           2019  19.201712

In [4]:
df['Region'] = df['NUTS code'].str[:4]
result = df.groupby('Region')[' votes'].mean().reset_index() # Group by the new 'Region' column and calculate the mean of 'votes' for each group
print(result)

    Region      votes
0     AT11  16.923863
1     AT12  16.469133
2     AT13  12.825826
3     AT21  20.490223
4     AT22  18.847857
..     ...        ...
237   SI04   3.990104
238   SK01  28.812950
239   SK02  39.494548
240   SK03  41.343012
241   SK04  35.576121

[242 rows x 2 columns]

In [13]:
regions_df = pd.read_excel('Regions.xlsx')
print("Columns in result DataFrame:", result.columns) # I print column names to check
print("Columns in regions_df DataFrame:", regions_df.columns)
regions_df.rename(columns={'code': 'Region'}, inplace=True) # If column names don't match, rename them
combined_df = result.merge(regions_df, on='Region', how='inner') # Now I merge them using the 'Region' column
print(combined_df)

Columns in result DataFrame: Index(['Region', ' votes'], dtype='object')
Columns in regions_df DataFrame: Index(['code', 'region', 'electrcity', 'manufacturing', 'mining',
       'construction ', 'transportaion'],
      dtype='object')
    Region      votes              region electrcity manufacturing mining  \
0     AT11  16.923863          Burgenland        136          1076     22
1     AT12  16.469133    Niederösterreich        674          6298    161
2     AT13  12.825826                Wien        382          3635     15
3     AT21  20.490223             Kärnten        370          2535     52
4     AT22  18.847857          Steiermark        958          4808    127
..     ...        ...                 ...        ...           ...    ...
237   SI04   3.990104   Zahodna Slovenija        576          9818     38
238   SK01  28.812950   Bratislavský kraj        222         10505     56
239   SK02  39.494548   Západné Slovensko        237         28450     35
240   SK03  41.343012   Stredné Slovensko        160         20855     86
241   SK04  35.576121  Východné Slovensko         48         21303    140

    construction  transportaion
0            1899           571
1            8161          3248
2            7440          5031
3            3211          1259
4            6230          2497
..            ...           ...
237         10803          4895
238         10492          5318
239         34036          9259
240         33522          5003
241         32817          4909

[242 rows x 8 columns]

In [19]:
gdp1_df= pd.read_excel('GDP1.xlsx')
gdp1_df.rename(columns={'TIME': 'Region'}, inplace=True)
# Merge the full GDP data with the combined_df
final_combined_df = combined_df.merge(gdp1_df, on='Region', how='inner')
print(final_combined_df)

    Region      votes              region electrcity manufacturing mining  \
0     AT11  16.923863          Burgenland        136          1076     22
1     AT12  16.469133    Niederösterreich        674          6298    161
2     AT13  12.825826                Wien        382          3635     15
3     AT21  20.490223             Kärnten        370          2535     52
4     AT22  18.847857          Steiermark        958          4808    127
..     ...        ...                 ...        ...           ...    ...
232   SI04   3.990104   Zahodna Slovenija        576          9818     38
233   SK01  28.812950   Bratislavský kraj        222         10505     56
234   SK02  39.494548   Západné Slovensko        237         28450     35
235   SK03  41.343012   Stredné Slovensko        160         20855     86
236   SK04  35.576121  Východné Slovensko         48         21303    140

    construction  transportaion   2012   2013   2014   2015   2016   2017  \
0            1899           571  23000  23400  23800  25100  25500  26100
1            8161          3248  28000  28200  28600  29500  30200  30900
2            7440          5031  42400  42300  42100  42700  43600  43200
3            3211          1259  29200  29200  30100  30500  30800  31800
4            6230          2497  31000  30800  31500  32100  33100  34300
..            ...           ...    ...    ...    ...    ...    ...    ...
232         10803          4895  25700  25800  26400  27100  28100  30000
233         10492          5318  49700  51600  51700  53900  51600  50800
234         34036          9259  18800  18700  19300  19500  18800  18600
235         33522          5003  15700  15900  16500  17400  16500  16500
236         32817          4909  13600  13800  14400  15200  14300  14800

      2018   2019   2020   2021   2022   2023
0    26700  27200  26100  28200  30800  32200
1    32000  33100  30800  33100  36500  37500
2    44900  45600  43800  47600  50500  52500
3    33300  34100  33100  35500  39600  41300
4    35100  36200  34400  37000  40900  42600
..     ...    ...    ...    ...    ...    ...
232  31600  33100  32100  35400  38700  42800
233  51300  51400  51700  52300  54000  56500
234  19100  20400  20900  22200  22900  26600
235  17100  18000  18000  20400  21800  23300
236  15400  15500  16100  17900  18900  20700

[237 rows x 20 columns]


import pandas as pd
!pip install openpyxl
df = pd.read_excel('final_dataset_with_tourism.xlsx')

In [ ]:
head(df)